body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;

	font-family: Arial;
	background-color: #242424;
	color: #fff;
}

#heading {
	font-size: 3.5em;
}

.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #fff;
	font-size: 2em;
}

a:hover {
	color: #b8c0d4;
}

.project {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #95b6c9;
	border-radius: 10px;
	color: #000;
	transition: transform 250ms;
	padding: 0.5em;
}

.project:hover {
	transform: translateY(-10px);
}
